<div class="container">

  <h2 class="d-flex justify-content-center">Wstępne zadanie przed stażem</h2>
  <h4 class="d-flex justify-content-center">I pierwszy projekt w Angularze</h4>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark justify-content-center">
    <ul class="navbar-nav">
      <li class="navbar-item">
        <button routerLink="author" class="m-1 btn btn-outline-primary btn-lg" Button>Authors</button>
      </li>
      <li class="navbar-item">
        <button routerLink="book" class="m-1 btn btn-outline-primary btn-lg" Button>Books</button>
      </li>
    </ul>

  </nav>

<router-outlet></router-outlet>

</div>