<table class="table table-striped">
    <thead>
        <tr>
            <th>Guid</th>
            <th>Firstname</th>
            <th>Surname</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of AuthorList">
            <td>{{dataItem.id}}</td>
            <td>{{dataItem.firstName}}</td>
            <td>{{dataItem.surName}}</td>
            <td>
                <button type="button" class="btn btn-outline-warning m-1">
                    Edit
                </button>
                <button type="button" class="btn btn-outline-danger m-1">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>
